:root
{
    --col-dark-bg-primary: #d6a923;
    --col-dark-bg-primary-hover: #e7b934;
    --col-dark-bg-secondary: #4c4c4c;
    --col-dark-bg-secondary-hover: #5d5d5d;
    --col-dark-bg-third: #292929;
    --col-dark-bg-third-hover: #3a3a3a;
    --col-dark-text: #ffffff;
    --col-light-bg-primary: #078f23;
    --col-light-bg-primary-hover: #067e12;
    --col-light-bg-secondary: #4caf50;
    --col-light-bg-secondary-hover: #3b9e40;
    --col-light-bg-third: #80e27e;
    --col-light-bg-third-hover: #70d16d;
    --col-light-text: #000000;
}

/* Dark themes */
.btn-dark-first, .btn-outline-dark-first, .alert-dark-first, .alert-dark-first:hover
{
    border-color: var(--col-dark-bg-primary);
    color: var(--col-dark-text);
}

.text-dark-first
{
    color: var(--col-dark-bg-primary);
}

.btn-dark-first, .btn-outline-dark-first:hover, .alert-dark-first, .bg-dark-first
{
    background-color: var(--col-dark-bg-primary);
}

.btn-dark-first:hover, .btn-outline-dark-first:hover
{
    background-color: var(--col-dark-bg-primary-hover);
}

.btn-dark-second, .btn-outline-dark-second, .alert-dark-second, .alert-dark-second:hover
{
    border-color: var(--col-dark-bg-secondary);
    color: var(--col-dark-text);
}

.text-dark-second
{
    color: var(--col-dark-bg-secondary);
}

.btn-dark-second, .btn-outline-dark-second:hover, .alert-dark-second, .bg-dark-second
{
    background-color: var(--col-dark-bg-secondary);
}

.btn-dark-second:hover, .btn-outline-dark-second:hover
{
    background-color: var(--col-dark-bg-secondary-hover);
}

.btn-dark-third, .btn-outline-dark-third, .alert-dark-third, .alert-dark-third:hover
{
    border-color: var(--col-dark-bg-third);
    color: var(--col-dark-text);
}

.text-dark-third
{
    color: var(--col-dark-bg-third);
}

.btn-dark-third, .btn-outline-dark-third:hover, .alert-dark-third, .bg-dark-third
{
    background-color: var(--col-dark-bg-third);
}

.btn-dark-third:hover, .btn-outline-dark-third:hover
{
    background-color: var(--col-dark-bg-third-hover);
}

.btn-dark-first:hover, .btn-outline-dark-first:hover, .btn-dark-second:hover, .btn-outline-dark-second:hover, .btn-dark-third:hover, .btn-outline-dark-third:hover
{
    color: var(--col-dark-text);
}

/* Light themes */
.btn-light-first, .btn-outline-light-first, .alert-light-first, .alert-light-first:hover
{
    border-color: var(--col-light-bg-primary);
    color: var(--col-light-text);
}

.text-light-first
{
    color: var(--col-light-bg-primary);
}

.btn-light-first, .btn-outline-light-first:hover, .alert-light-first, .bg-light-first
{
    background-color: var(--col-light-bg-primary);
}

.btn-light-first:hover, .btn-outline-light-first:hover
{
    background-color: var(--col-light-bg-primary-hover);
}

.btn-light-second, .btn-outline-light-second, .alert-light-second, .alert-light-second:hover
{
    border-color: var(--col-light-bg-secondary);
    color: var(--col-light-text);
}

.text-light-second
{
    color: var(--col-light-bg-secondary);
}

.btn-light-second, .btn-outline-light-second:hover, .alert-light-second, .bg-light-second
{
    background-color: var(--col-light-bg-secondary);
}

.btn-light-second:hover, .btn-outline-light-second:hover
{
    background-color: var(--col-light-bg-secondary-hover);
}

.btn-light-third, .btn-outline-light-third, .alert-light-third, .alert-light-third:hover
{
    border-color: var(--col-light-bg-third);
    color: var(--col-light-text);
}

.text-light-third
{
    color: var(--col-light-bg-third);
}

.btn-light-third, .btn-outline-light-third:hover, .alert-light-third, .bg-light-third
{
    background-color: var(--col-light-bg-third);
}

.btn-light-third:hover, .btn-outline-light-third:hover
{
    background-color: var(--col-light-bg-third-hover);
}

.btn-light-first:hover, .btn-outline-light-first:hover, .btn-light-second:hover, .btn-outline-light-second:hover, .btn-light-third:hover, .btn-outline-light-third:hover
{
    color: var(--col-dark-light);
}

/* Shared */
.btn-dark-first:focus, .btn-outline-dark-first:focus, .btn-dark-second:focus, .btn-outline-dark-second:focus, .btn-dark-third:focus, .btn-outline-dark-third:focus,
.btn-light-first:focus, .btn-outline-light-first:focus, .btn-light-second:focus, .btn-outline-light-second:focus, .btn-light-third:focus, .btn-outline-light-third:focus
{
    box-shadow: none;
}

/* Custom styles */
.consent
{
    display: flex;
    align-content: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    bottom: 0;
    max-width: 3000px;
}

.consent-content
{
    flex: 1 0 300px;
    margin: 15px;
    text-align: center;
}

/* Fixes */
.card, .modal-content
{
    color: var(--col-light-text);
}