:root
{
    --dark-text: #ffffff;
    --light-text: #000000;
    --dark-button: #c59812;
    --dark-button-hover: #d6a923;
    --light-button: #98dd98;
    --light-button-hover: #5dbf62;
    --dark-alert: #4c4c4c;
    --light-alert: #98dd98;
    --dark-bg: #4a4a4a;
    --light-bg: #4caf50;
    --dark-nav: #a37600;
    --light-nav: #4caf50;
    --required: #ff0000;
}

/* Dark themes */
.btn-custom-dark
{
    border-color: var(--dark-button);
    background-color: var(--dark-button);
    color: var(--dark-text);
}

.btn-outline-custom-dark
{
    border-color: var(--dark-button-hover);
    color: var(--dark-text);
}

.btn-custom-dark:hover
{
    background-color: var(--dark-button-hover);
    color: var(--dark-text);
}

.btn-outline-custom-dark:hover
{
    background-color: var(--dark-button-hover);
    color: var(--dark-text);
}

.alert-custom-dark, .alert-custom-dark:hover
{
    border-color: var(--dark-alert);
    background-color: var(--dark-alert);
    color: var(--dark-text);
}

.bg-custom-dark
{
    background-color: var(--dark-bg);
}

.bg-navbar-dark
{
    background-color: var(--dark-nav);
}

.link-dark, .link-dark:hover, .link-dark:visited
{
    color: var(--dark-text);
}

/* Light themes */
.btn-custom-light
{
    border-color: var(--light-button);
    background-color: var(--light-button);
    color: var(--light-text);
}

.btn-outline-custom-light
{
    border-color: var(--light-button-hover);
    color: var(--light-text);
}

.btn-custom-light:hover
{
    background-color: var(--light-button-hover);
    color: var(--light-text);
}

.btn-outline-custom-light:hover
{
    background-color: var(--light-button-hover);
    color: var(--light-text);
}

.alert-custom-light, .alert-custom-light:hover
{
    border-color: var(--light-alert);
    background-color: var(--light-alert);
    color: var(--light-text);
}

.bg-custom-light
{
    background-color: var(--light-bg);
}

.bg-navbar-light
{
    background-color: var(--light-nav);
}

.link-light, .link-light:hover, .link-light:visited
{
    color: var(--light-bg);
}

/* Shared */
.btn-custom-dark:focus, .btn-outline-custom-dark:focus, .btn-custom-light:focus, .btn-outline-custom-light:focus
{
    box-shadow: none;
}

/* Custom styles */
.consent
{
    display: flex;
    align-content: baseline;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    bottom: 0;
    max-width: 3000px;
}

.consent-content
{
    flex: 1 0 300px;
    margin: 15px;
    text-align: center;
}

.req
{
    color: var(--required);
}

.d-contents
{
    display: contents;
}

.leaflet-container
{
    min-height: 80vh;
    width: 100%;
}

.tutorial-grid
{
    display: grid;
    gap: 16px;
    padding: 32px;
}

.tutorial-element
{
    padding: 1rem;
    max-width: 500px;
}

.img
{
    display: block;
    width: 100%;
    max-width: 100%;
}

@media (min-width: 768px)
{
    .tutorial-grid
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 960px)
{
    .tutorial-grid
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px)
{
    .tutorial-grid
    {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1600px)
{
    .tutorial-grid
    {
        grid-template-columns: repeat(5, 1fr);
    }
}